.card {
    background-color: var(--secondary-color);
    color: var(--main-color);
    border-radius: 1rem;
    box-shadow: 0 4px 6px var(--back-ground-trans);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    overflow: hidden;
}

.card {
    display: flex;
    flex-direction: column;
    padding: 1.5rem;
    text-decoration: none;
    color: var(--main-color);
    height: 100%;
    width: 100%;
    gap: 0.5rem;
}

.card a {
    text-decoration: none;
    color: var(--second-accent-color);
}

.card:hover {
    transform: translateY(-5px);
}

.card .card-header {
    font-size: 0.9rem;
    opacity: 0.7;
}

.card-content h3 {
    color: var(--main-color);
    font-size: 1.2rem;
    margin-bottom: 0.25rem;
}

.card-content .published-year {
    opacity: 0.7;
    font-size: 0.9rem;
}

.card-footer p {
    color: var(--second-accent-color);
    font-weight: bold;
}

section#author-section .cards-container {
    margin-top: 1rem;
    display: grid;
    grid-template-columns: 1fr;
    gap: 1.5rem;
}

@media (min-width: 756px) {
    section#author-section .cards-container {
        grid-template-columns: 1fr 1fr;
        gap: 1.5rem;
    }
}

@media (min-width: 1080px) {
    section#author-section .cards-container {
        grid-template-columns: 1fr 1fr 1fr;
        gap: 2rem;
    }
}