@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Inter;
}

:root {
  --secondary-color: #1c1c1c;
  --accent-color: #0062c4;
  --second-accent-color: #1c98eb;
  --main-color: #f1f1f1;
  --approved: #22c55e;
  --error: #ef4444;
}

body:not(#home_page) main {
  margin: 1rem;
}

/* HEADER */

body#home_page > header {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: 5;
  background-color: transparent;
  label > svg {
    fill: var(--main-color);
  }
  #search_form:has(input:focus) {
    border: none;
    border-bottom: 1px solid var(--main-color);
  }
  #search_form {
    background-color: transparent;
    border-radius: 0;
    padding-inline: 0;
    border-bottom: 1px solid var(--main-color);

    input {
      color: var(--main-color);
    }
  }
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
body > header {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  width: 100%;
  padding: 1.5rem 2rem;
  background-color: var(--secondary-color);
  :first-child {
    grid-column: 1/2;
  }
  :nth-child(2) {
    grid-column: 2/3;
    justify-self: center;
    width: fit-content;
  }
  :last-child {
    grid-column: 3/4;
    justify-self: end;
  }
  img {
    max-width: 45px;
  }

  #search_form:has(input:focus) {
    border: 1px solid var(--second-accent-color);
  }
  #search_form {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    background-color: var(--main-color);
    height: min-content;
    border-radius: 25px;
    padding-inline: 0.5rem;
    label > svg {
      fill: var(--secondary-color);
    }
    input {
      border: none;
      padding: 0.5rem 0.2rem;
      background-color: transparent;
      color: var(--secondary-color);
      font-size: 0.9rem;
    }
    input:focus {
      border: none;
      outline: none;
    }
  }

  .header-buttons {
    margin-top: 0.8rem;
  }
  #login_btn,
  #signup_btn {
    background-color: var(--accent-color);
    border: none;
    padding: 0.4rem 1.2rem;
    text-decoration: none;
    border-radius: 10rem;
    color: var(--main-color);
    margin-top: 0.8rem;
  }
  .hidden {
    display: none;
  }
}

/* Footer */

body > footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: auto;
  background-color: var(--secondary-color);
  padding: 1rem;
  img {
    max-width: 50px;
  }
  p {
    color: var(--main-color);
  }
  .some_icons {
    display: flex;
    gap: 1rem;
    img {
      max-width: 35px;
      aspect-ratio: 1;
    }
  }
}

header a#logout_btn {
  text-decoration: none;
  color: var(--main-color);
  margin-right: 1rem;
}