@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

/* Base styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Inter;
}

:root {
  --secondary-color: #1c1c1c;
  --accent-color: #0062c4;
  --second-accent-color: #1c98eb;
  --main-color: #f1f1f1;
  --faded-white: #caced1;
  --main-grey: #333333;
  --light-grey: #e9e9e9;
  --approved: #22c55e;
  --error: #ef4444;
}

/* General styling */
body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

body a {
  text-decoration: none;
}

body:not(#home_page) main {
  margin: 2rem 1.5rem;
}

a {
  color: var(--accent-color);
}

a:hover {
  color: var(--second-accent-color);
}

.hidden {
  display: none;
}

body:has(dialog[open]) {
  overflow: hidden;
}

.error {
  color: var(--error);
  font-size: 0.85rem;
}

/* General btn styling */

.btn {
  max-width: max-content;
  padding: 0.9rem 1.25rem;
  align-self: center;
  border: none;
  border-radius: 0.625rem;
  background-color: var(--accent-color);
  color: var(--main-color);
  cursor: pointer;
}

.btn:hover {
  background-color: var(--second-accent-color);
}

button {
  transition: 0.125s;
}
button:focus {
  outline-offset: 0.1rem;
}

/* Header - Mobile First */
body > header {
  display: grid;
  grid-template-columns: auto 1fr auto;
  align-items: center;
  width: 100%;
  padding: 1rem;
  background-color: var(--secondary-color);
}

header > a {
  grid-column: 1/2;
  width: min-content;
}

header img {
  max-width: 45px;
}

/* Search Forms */
#desktop_search_form {
  display: none;
}

#mobile_search_form {
  display: flex;
  width: 100%;
  margin: 2rem 0;
  background-color: var(--main-color);
}

.search_form {
  align-items: center;
  gap: 0.5rem;
  background-color: var(--main-color);
  height: min-content;
  border-radius: 0.625rem;
  padding-inline: 0.5rem;
}

.search_form label > svg {
  fill: var(--secondary-color);
}

.search_form input {
  border: none;
  padding: 0.5rem 0.2rem;
  font-size: 1rem;
  width: 100%;
  background-color: transparent;
}

.search_form input:focus {
  border: none;
  outline: none;
}

.search_form:has(input:focus) {
  border: 1px solid var(--second-accent-color);
}

/* Burger Menu */
.burger-menu {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 21px;
  background: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
  z-index: 10;
  grid-column: 3/4;
  justify-self: end;
}

.burger-menu span {
  width: 100%;
  height: 3px;
  background-color: var(--main-color);
  transition: transform 0.3s ease;
}

.burger-menu.active span:first-child {
  transform: translateY(9px) rotate(45deg);
}

.burger-menu.active span:nth-child(2) {
  opacity: 0;
}

.burger-menu.active span:last-child {
  transform: translateY(-9px) rotate(-45deg);
}

#logout_btn {
  order: 1;
}

/* Header Buttons */
.header-buttons {
  position: fixed;
  top: 0;
  right: -100%;
  height: 100vh;
  width: 250px;
  background-color: var(--secondary-color);
  display: flex;
  flex-direction: column;
  padding: 4rem 1rem 2rem;
  transition: right 0.3s ease;
  z-index: 5;
}

.header-buttons.active {
  right: 0;
}

.header-buttons.active > a {
  width: 100%;
  padding: 0.5rem 1rem;
  font-size: 1.2rem;
}

#login_btn,
#signup_btn {
  background-color: var(--accent-color);
  border: none;
  padding: 0.4rem 1.2rem;
  text-decoration: none;
  border-radius: 10rem;
  color: var(--main-color);
  align-self: center;
}

#profile_btn {
  display: flex;
}

#profile_btn svg {
  display: none;
}

#desktop_search_form {
  border: none;
  background-color: var(--main-color);
  padding-inline: 1rem;

  svg {
    color: var(--secondary-color);
  }
}

.header-buttons > a,
.header-buttons > a svg {
  color: var(--main-color);
  transition: 0.125s;
}
.header-buttons > a:hover {
  color: var(--faded-white);
}
.header-buttons > a svg {
  fill: var(--main-color);
}
.header-buttons > a:hover svg {
  fill: var(--faded-white);
}

/* Overlay */
.menu-overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 4;
}

.menu-overlay.active {
  display: block;
}

/* Footer */
body > footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: auto;
  background-color: var(--secondary-color);
  padding: 1rem;
}

footer img.logo {
  max-width: 50px;
}

footer p {
  color: var(--main-color);
}

footer .some_icons {
  display: flex;
  gap: 1rem;
}

footer .some_icons img {
  max-width: 28px;
  aspect-ratio: 1;
}

@media (min-width: 576px) {
  footer .some_icons img {
    max-width: 32px;
  }
}
@media (min-width: 756px) {
  footer .some_icons img {
    max-width: 35px;
  }
}

/* Homepage specific styles */
body#home_page > header {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: 5;
  background-color: transparent;
}

body#home_page header #desktop_search_form {
  border-radius: 0;
  padding-inline: 0;
  border-bottom: 1px solid var(--main-color);
}

body#home_page header #desktop_search_form:has(input:focus) {
  outline: 1px solid var(--accent-color);
  outline-offset: 0.2rem;
  border-radius: 0.125rem;
}

body#home_page header #desktop_search_form label > svg {
  fill: var(--main-color);
}

body#home_page header #desktop_search_form input {
  color: var(--main-color);
}

/* Desktop styles */
@media (min-width: 756px) {
  body > header {
    grid-template-columns: 1fr 1fr 1fr;
    padding: 1.5rem 2rem;
  }

  body#home_page header #desktop_search_form input,
  body#home_page header #desktop_search_form {
    background-color: transparent;
  }

  #desktop_search_form {
    display: flex;
    grid-column: 2/3;
    justify-self: center;
  }

  #mobile_search_form {
    display: none;
  }

  .burger-menu {
    display: none;
  }

  .header-buttons {
    position: static;
    height: auto;
    width: auto;
    background-color: transparent;
    grid-column: 3/4;
    justify-self: end;
    padding: 0;
    flex-direction: row;
    gap: 0.5rem;
  }

  .header-buttons > a {
    font-size: 1rem;
    padding: initial;
    align-self: center;
  }

  #profile_btn svg {
    display: block;
  }

  #profile_btn span {
    display: none;
  }

  #logout_btn,
  #dashboard_btn {
    margin-right: 1rem;
  }

  header .search_form input {
    font-size: 0.9rem;
  }

  #logout_btn {
    order: 0;
  }

  #home_btn {
    display: none;
  }
}
