@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Inter;
}

:root {
  --secondary-color: #1C1C1C;
  --accent-color: #0062C4;
  --second-accent-color: #1C98EB;
  --main-color:#F1F1F1;
}



/* HEADER */

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
body > header {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  background-color: var(--secondary-color);
  img {
    max-width: 35px;
  }
  .search_field {
    display: flex;
    align-items: center;
    gap: 0.2rem;
  input#search_field {
    color: var(--main-color);
  }
    img {
      width: 18px;
    }
    input {
      border: none;
      background-color: transparent;
      border-bottom: 1px solid var(--main-color);
    }
    input:focus {
      border: none;
      outline: none;
      border-bottom: 1px solid var(--main-color);
    }
  }

  #login_btn,
  #signup_btn {
    background-color: var(--accent-color);
    border: none;
    padding: 0.4rem 1.2rem;
    text-decoration: none;
    border-radius: 10rem;
    color: var(--main-color);
  }
}

/* Footer */

body > footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: auto;
  background-color: var(--secondary-color);
  padding: 1rem;
  img {
    max-width: 50px;
  }
  p {
    color: var(--main-color);
  }
  .some_icons {
    display: flex;
    gap: 1rem;
    img {
      max-width: 35px;
      aspect-ratio: 1;
    }
  }
}
