h1 {
  margin-bottom: 1rem;
}

section#results .card:not(:last-child) {
  margin-bottom: 1rem;
}

.card {
  box-shadow: 1px 1px 3px var(--light-shadow);
  border-radius: 1rem;
}
.card a {
  display: flex;
  flex-direction: column;
  padding: 1.5rem;
  text-decoration: none;
  color: var(--secondary-color);
  height: 100%;
  width: 100%;
  gap: 0.5rem;
}

.card .publisher {
  font-size: 0.9rem;
  color: var(--main-grey);
}

.card-footer {
  margin-top: auto;
}

.card-footer p {
  color: var(--accent-color);
}

.card-content {
  margin-bottom: 1rem;
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}

.card-content .published-year {
  color: var(--main-grey);
  font-size: 0.9rem;
}

body#results_page main {
  width: 100%;
}

article.card > a:hover * {
  color: var(--second-accent-color);
}

.book-card-link {
  display: block;
}
#results {
  display: flex;
  flex-direction: column; /* Stack elements vertically */
  gap: 20px;
}

/* Ensure sections are displayed as block elements and take up full width */
#results > section {
  display: block;
  width: 100%;
  margin-bottom: 2rem; /* Add some space between sections */
}

/* Ensure the results container within each section is displayed as a grid */
.results-container,
.results-container-authors {
  display: grid;
  gap: 1.5rem;
}

@media (min-width: 756px) {
  .results-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 1080px) {
  .results-container {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (min-width: 756px) {

  section#results .card:not(:last-child) {
    margin: 0;
  }
  .results-container,
  .results-container-authors {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 1080px) {

  .results-container,
  .results-container-authors {
    grid-template-columns: repeat(3, 1fr);
  }
}
